body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ameri-logo {
  background-color: white;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}
.button-container {
  position: absolute;
  bottom: 0;
}
.divBub {
  display:flex; 
  flex-direction:row;
}

.color-nav{
  background-image: linear-gradient(to right, #303f9f,#45cafc);
  box-shadow: 0px 5px 5px  grey;
}
 
.faq-icon{
  margin-left: 5px ;
  color:white;
  opacity: 0.8;
  transition: 0.3s;
}
 .faq-icon:hover {
  opacity: 1;
}
 
.fai-icon{
  margin-left: 5px ;
  color:white;
  opacity: 0.8;
  transition: 0.3s;
  }
 
 .fai-icon:hover {
  opacity: 1;
 
}
 
.Chat{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  height: 100px;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 10px;
  transition: height 2s;
  box-shadow: 0px 5px 5px  grey;
  transition-timing-function: linear;
}
.Chat:hover{
  height: 800px;
}
 
.chatBub{
  display:flex; 
  flex-direction:row;
}
 
.img{
  height:50px;
  width:70px;
}

  @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      width: 100%;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
.Navbar .Nav.Link :hover{
opacity: 0.5 !important;
}

.Button{
  padding-left: 2%;
}